extends loadinglayout

block content
    #loading
        .main
            .s1
                .s.b.sb1
                .s.b.sb2
                .s.b.sb3
                .s.b.sb4
            .s2
                .s.b.sb5
                .s.b.sb6
                .s.b.sb7
                .s.b.sb8
            .bigcon
                .big.b